{% extends 'main/base.html' %}

{% block title %}
{{ name }}
<h6>Choose Date</h6>
<form method="post">
    {% csrf_token %}        
    <div class="row">
        <div class="col">
            {{ context.form.date }}<br>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Find</button>
    <span>{{ context.error }}</span>
</form>
{% endblock %}

{% block headers %}
    <th scope="col">Date</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Address</th>
    <th scope="col">Selling Price</th>
{% endblock %}

{% block grid %}
    {% for el in records %}
    <tr>
        <td>{{ el.date }}</td>
        <td>{{ el.customerName }}</td>
        <td>{{ el.address }}</td>
        <td>{{ el.sellingPrice }}</td>
    </tr>
    {% endfor %}
{% endblock %}